transformers>=4.30.0
accelerate>=0.20.0
einops
langchain
langchain-community
langchain-text-splitters
langchain-groq
bitsandbytes>=0.40.0
sentence-transformers
chromadb
nltk
requests
scikit-learn
pandas
requests
streamlit
langchain-huggingface
torch>=2.0.0